@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>Singleton-1 @ViewBag.Singleton</h1>
    <h1>Scoped-1 @ViewBag.Scoped</h1>
    <h1>Transient-1 @ViewBag.Transient</h1>

    <hr />

    <h1>Singleton-2 @ViewBag.Singleton2</h1>
    <h1>Scoped-2 @ViewBag.Scoped2</h1>
    <h1>Transient-2 @ViewBag.Transient2</h1>

    <hr />

</div>
